 .u-section-1 {
  background-image: url("images/i-picaai.png");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1056px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1094px;
  margin: 151px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 536px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 536px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 192px;
  background-image: linear-gradient(#808080, rgba(255,255,255,0.30980392156862746));
  width: 396px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 10px;
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  width: 419px;
  margin: 90px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  width: 605px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -148px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-1 .u-form-1 {
    width: 332px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -395px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 240px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -552px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
    font-size: 2.25rem;
    margin-top: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-1 {
    width: 257px;
    margin-top: 31px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 19px;
    margin-bottom: 34px;
  }
} .u-section-2 {
  min-height: 1367px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 104px auto 60px -20px;
}

.u-section-2 .u-image-1 {
  min-height: 258px;
  background-image: url("images/WhatsAppImage2025-03-18at15.35.48-picaai1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 20px;
}

.u-section-2 .u-image-2 {
  min-height: 258px;
  background-image: url("images/WhatsAppImage2025-03-18at15.35.29-picaai1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 0 16px;
}

.u-section-2 .u-image-3 {
  min-height: 258px;
  background-image: url("images/WhatsAppImage2025-03-18at15.50.38.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 7px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 297px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  width: 160px;
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  min-height: 297px;
  background-image: url("images/WhatsAppImage2025-02-01at23.49.001.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 19px;
}

.u-section-2 .u-image-5 {
  min-height: 297px;
  background-image: url("images/WhatsAppImage2025-02-01at23.48.55.jpeg");
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-6 {
  min-height: 297px;
  background-image: url("images/WhatsAppImage2025-02-01at23.49.00.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px 18px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-7 {
  margin: 6px auto 0;
}

.u-section-2 .u-text-8 {
  width: 160px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-7 {
  min-height: 373px;
  background-image: url("images/WhatsAppImage2025-02-01at23.48.59.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 373px;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-9 {
  margin: 24px 15px 0;
}

.u-section-2 .u-text-10 {
  margin: 26px 30px 0;
}

.u-section-2 .u-image-8 {
  min-height: 373px;
  background-image: url("images/WhatsAppImage2025-02-01at23.48.57.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-13 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-11 {
  margin: 0 10px;
}

.u-section-2 .u-text-12 {
  width: 160px;
  margin: 11px auto 0;
}

.u-section-2 .u-image-9 {
  min-height: 373px;
  background-image: url("images/WhatsAppImage2025-02-01at23.48.58.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-15 {
  padding: 11px 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5211px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 214px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-1 {
    width: 132px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-2 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 213px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-3 {
    width: 132px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 1px;
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-3 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 245px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-5 {
    width: 132px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-4 {
    min-height: 245px;
  }

  .u-section-2 .u-image-5 {
    background-position: 50% 50%;
    min-height: 245px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-6 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-7 {
    width: 132px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-7 {
    min-height: 307px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 307px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
    width: 132px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-8 {
    min-height: 307px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
    width: 132px;
  }

  .u-section-2 .u-text-12 {
    margin-bottom: 35px;
    width: 132px;
  }

  .u-section-2 .u-image-9 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1647px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 4948px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 163px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 104px;
  }

  .u-section-2 .u-text-2 {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-2 {
    min-height: 163px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 104px;
  }

  .u-section-2 .u-text-4 {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-3 {
    min-height: 163px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 104px;
  }

  .u-section-2 .u-text-6 {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-4 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-6 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: 104px;
  }

  .u-section-2 .u-text-8 {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-7 {
    min-height: 235px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: 104px;
  }

  .u-section-2 .u-text-10 {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-8 {
    min-height: 235px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-11 {
    width: 104px;
  }

  .u-section-2 .u-text-12 {
    width: 104px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-9 {
    min-height: 235px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 6361px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 9274px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 5261px;
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-2 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-3 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-4 {
    min-height: 705px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 705px;
  }

  .u-section-2 .u-image-6 {
    min-height: 705px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-7 {
    min-height: 881px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-10 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-8 {
    min-height: 881px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-text-12 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    width: 98px;
  }

  .u-section-2 .u-image-9 {
    min-height: 881px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 4397px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 4941px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 19px;
    min-height: 2608px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 385px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 10px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 9px 6px 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 385px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 111px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .u-section-2 .u-image-4 {
    min-height: 444px;
  }

  .u-section-2 .u-image-5 {
    min-height: 444px;
  }

  .u-section-2 .u-image-6 {
    min-height: 444px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: 0 10px 0 6px;
  }

  .u-section-2 .u-image-7 {
    min-height: 555px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 113px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin: 6px 0 0 6px;
  }

  .u-section-2 .u-image-8 {
    min-height: 555px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 146px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin: 6px 0 0 16px;
  }

  .u-section-2 .u-image-9 {
    min-height: 555px;
  }
} .u-section-3 {
  min-height: 1112px;
}

.u-section-3 .u-group-1 {
  min-height: 431px;
  margin: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  min-height: 767px;
  margin: -215px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 466px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 468px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 662px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 466px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 967px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    min-height: 329px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 385px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 65px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    min-height: 607px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 207px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1019px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1015px;
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    min-height: 300px;
    margin-top: -885px;
    margin-bottom: 57px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    height: 77px;
    width: 77px;
    margin-left: 28px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 35px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 75px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-icon-2 {
    height: 72px;
    width: 72px;
    padding: 18px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1rem;
    margin-top: 32px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 94px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 399px;
    order: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 76px;
    width: 76px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
    width: auto;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 905px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 107px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 399px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-4 {
    height: 76px;
    width: 76px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.75rem;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-section-3 .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}